@using Microsoft.AspNetCore.Components.Web
@namespace BlazorServerApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="~/" />
	<link href="_content/BlazorShared/css/app.css" rel="stylesheet" />
	<link href="_content/BlazorShared/css/atomic.css" rel="stylesheet" />
	<link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
	<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
	<link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
	<link href="BlazorServerApp.styles.css" rel="stylesheet" />
	<component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
	@RenderBody()
	<script src="_framework/blazor.server.js"></script>
</body>
</html>
