@namespace BlazorShared.Pages
@page "/SQL/BMS"


<PageContainer Title="BMS 数据导入">
    <Content>
        <span>Form pages are used to collect or verify information to users, and basic forms are common in scenarios where there are fewer data items.</span>
    </Content><ChildContent></ChildContent>
</PageContainer>
