@namespace BlazorShared.Pages
@page "/SQL/BMS"


<PageContainer Title="BMS 数据导入">
	<Content>
		<span>
			请确认选中目录下只有一个机组的数据，CMC所建测点名和SQLite内部测点名一致。
		</span>
	</Content>
	<ChildContent></ChildContent>
</PageContainer>
