@page "/SQL/WaveLine"

@using AntDesign.Charts
@using Title = AntDesign.Charts.Title


<PageContainer Title="波形图">
	<Content>
		<span>
			波形图
		</span>
	</Content>
	<ChildContent>
		<AntDesign.Charts.Line  Data="data" Config="config4" />
	</ChildContent>
</PageContainer>

